.git
.DS_Store
node_modules
build-info
build-client
build-server
.vscode
logs
/util
/private
sftp-config.json
/*.env
*.log
*.sublime-project
*.sublime-workspace
*.code-workspace
terraform/errored*
*.terraform
__snap*
/data
docker/mailserver/config
docker/mongodb/db
/docker/redis/lib
docker/mailserver/*
